$primary-color: #ffc70a;
    $primary-color-shade-1: #cb9a00;
    $primary-color-shade-2: #997000;
    $primary-color-shade-3: #6b4800;
    $primary-color-shade-4: #472300;
$secondary-color: #2c2e35;
    $secondary-color-shade-1: #51535a;
    $secondary-color-shade-2: #787a83;
    $secondary-color-shade-3: #a2a4ad;
    $secondary-color-shade-4: #ced1da;