@use "../util/" as *;

.card {
    &--menu-items {
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
        // background-color: $secondary-color-shade-4 !important;
        color: $secondary-color !important;

        &:hover {
            background-color: $primary-color !important;
            color: $secondary-color !important;
        }
    }

    &--rounded-start {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}
