@use "../util/" as *;
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    // margin-bottom: 4rem;
    width: 100%;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.176);
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: rem(10);
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 24rem;
}
